div{
    .header-name-struct{
        font-size: 20px;
    }
    .info-drag{
        opacity: .7 5;
        font-size: 12px;
        padding: 5px 0px 20px 0px;
    }

    .form-field{
        transition: box-shadow 2s;
        padding: 7px;
        background-color: #f3f3fa;
        border-radius: 5px;
        margin-bottom : 2%;
    }
    .border-b:hover{
        background:#cef6e2;
        // transition: background-color .1s ease-out;
        box-shadow: 2px 5px 5px #888888;
    }
    .ondrag-b{
        border-top: 4px solid #739fb9;
    }
    .border-b{
        position: relative;
        border: .2px solid lightgray;

        .question-t{
            padding: 10px;

            #sl-no{
                opacity: .5;
            }

            #t{
                // pointer-events: none;
                cursor: pointer;
            }
        }

        .q-info{
            .MuiSvgIcon-root{
                cursor: pointer;
                position: absolute;
                top: 1.5vh;
                right: 2.5vh;
                width: 16.5px;
                color: red;
            }
        }      
    }
    .quiz-btn{
        .MuiButtonBase-root{
            background-color: #00a5fe;
        }
    }
    .no-question{
        text-align: center;
        padding: 20px;
        color: #888;
    }
    .submit{
        .MuiButtonBase-root{
            width: 100%;
            border-radius: 5px;
            text-transform: none;
            padding: 10px;
            font-size: 16px;
        }
    }
    .add-icon-ques{
        position: absolute;
        z-index: 100;
        padding: 11px;
        color: #fff;
        cursor: pointer;
    }

    //question
    .question-dialog{
        position: relative;
        padding: 10px;
        width: 62vh;
    }
    //question-end

    .question-icon{
        width: 18.5px;
        position: absolute;
        right: 0;
    }
    .main-question{
        border: .2px solid lightgrey;
        position: relative;
        .MuiSvgIcon-root{
            position: absolute;
            top: 0;
            right: 4px;
        }
    }
    .cancel-icon{
        position: relative;
        z-index: 1;
        position: absolute;
        z-index: 1;
        top: 5px;
        cursor: pointer;
        right: 5px;
        .MuiSvgIcon-root{
            width: 20px;
        }
    }
    .mcq{
        color: #261e96;
        padding: 10px 0px;
        font-size: 20px;
    }
    //choices-tab
    .choices{
            // max-height: 295px;
            // overflow: auto;

            .tab{
                margin-bottom: 7.5px;
                position: relative;
                cursor: pointer;

                .form-field{
                    margin-bottom: -2px;
                    padding: 12px;
                    border: 0.5px solid #8888;

                    .choice-edit{
                        width: 90%;
                        border: transparent;
                        background: transparent;
                        outline: none;
                        font-size: 16px;
                    }
                    
                    .choice-index{
                        opacity: .5;
                    }                    
                }

                .correct-choice-check{
                    background: #c0eebc;
                }

               .form-field:hover{
                    background: #ced4f6;
                    transition: background-color .5s ease-out;
                }

                .choice{
                        position: absolute;
                        right: 7.5%;
                        width: 18.5px;
                        top: 9.5px;
                        cursor: pointer;
                        path:hover{
                            color: green;
                        }
                }

                .correct{
                    right: 9.5%;
                }

                .cancel{
                    right: 2%;
                    path:hover{
                        color: red;
                    }
                }
        }
    }
    //choices-tab end

    //choices-tab-inp
    .choices-tab-inp{

        .form-field{
            position: relative;
            background-color: transparent;            
        }
    }
    //choices-tab-inp end
}

//extras if conditionals
.margin-top-10{
    margin-top: -10px;
}
.correct-tab-color{
    background-color: #cef6e2 !important;
}
.correct-text-bold{
    font-weight: bold;
}
//extras 

//mobile

@media only screen and (max-width: 600px) {
    .question-dialog{
        width: 38vh !important; 
    }
}