.quiz-layout{
    width: 100vw;
    min-height: 100vh;
    background: #3d4462;

    .quiz-l-d{
        padding: 10px;

        .header-quiz{
            padding: 10px 20px 10px 20px;
            background: #ececec;
            margin-bottom: .5%;
            border-radius: 5px;
        }

        .quiz_ques-quesTab{
            display: flex;
            width: 100%;
            margin: auto;
            height: calc(100vh - 114px);

            .quiz-ques{
                position: relative;
                float: left;
                padding: 10px;
                width: 74%;
                margin-right: .5%;
                background: #bfecc4;
                border-radius: 5px;
            }

            .quiz-quesTab{
                padding: 10px;
                background: #c8cae2;
                width: 25%;
                float: right;
                border-radius: 5px;
            }
        }
    }
}

.question-attempt{
    text-decoration: line-through !important;
    opacity: .45 !important;
}

//mobile
@media only screen and (max-width: 750px) {
    .quiz_ques-quesTab{
        height: calc(100vh - 177px) !important;
    }
    .quiz-ques{
        width: 100% !important;
    }
    .quiz-quesTab{
        display: none !important;
    }
    .QuestionsMobileTab{
        display: flex !important;
        padding: 8.5px 0px;
        overflow: auto;
        scroll-behavior: smooth;
    }
}
    
//