.navbar{
    width: 100%;
    display: flex;

    .structure{
        text-align: center;
    }
    .questions{
        float: right;
    }
    .bar{
        padding: 5px;
        width: 50%;

        div{
            background-color: #000;
            color: #fff;
            text-align: center;
            padding: 10px;
            cursor: pointer;
            border-radius: 5px;
        }
    }
}