.mobile-tab-q{
    text-align: center;
    background: #fff;
    padding: 10px;
    height: 17px;
    border-radius: 100%;
    width: 19px;
    margin: auto;
    font-size: 20px;
    cursor: pointer;
    line-height: 17px;
}
.question-done{
    color: #fff;
    background: #829da4;
}