div{

    .header-name-struct{
        font-size: 20px;
        padding: 0px 0px 20px 0px;
    }

    .form-field{
        transition: box-shadow 2s;
        padding: 7px;
        background-color: #dbf8ff;
        border-radius: 7px;
        margin-bottom : 2%;
    }

    .form-field:hover{
        box-shadow: 4px 3px 3px -1px #888888;
    }

    .form-text{
        // position: relative;
        // display: flex;

        .text{
            float: left;
        }
        .text-color{
            font-size: 14px;
            color: #263ff4;
        }

        .help{
            float: right;
            right: 0;

            .MuiSvgIcon-root{
                width: 15px !important;
                cursor: pointer;
            }
        }
        TextField{
            font-size: 12px;
        }
    }
    //subscribe
    .subscribe{
        .MuiButtonBase-root{
            padding: 10px 10px 10px 0px;
        }
    }
    //subscribe-end

    //start-end-time
    .start-end-time{
        position: relative;
        .MuiFormLabel-root{
            // font-weight: bold;
            color: #263ff4 !important;
        }
        .MuiInput-formControl{
            font-size: 14px;
        }
        .start{
            // width: 50%;
            .MuiFormControl-root{
                cursor: pointer;
                width: 100% !important;
            }
        }
        .end{
            // width: 46%;
            // position: absolute;
            // top: 10px;
            // right: 5px;
            .MuiFormControl-root{
                cursor: pointer;
                width: 100% !important;
            }
        }
    }
    //start-end-time end

    //submit
    .submit{
        .MuiButtonBase-root{
            width: 100%;
            font-size: 17px;
            border-radius: 5px;
            text-transform: none;
            padding: 10px;
        }
    }
    //submit - end

    //sub-dur
    .sub-dur{
        display: flex;
        .name{
            width: 50%;
        }
        .sub{
            margin-right: 5px;
        }
    }
    //sub-dur
}
.required{
    color: red;
}
.text-icon{
    width: 15px !important;
}

//mobile

@media only screen and (max-width: 600px) {
    .start-end-time{
        .end{
            width: 100% !important;
            text-align: center;
            position: inherit !important;
            padding: 0px 0px 15px 0px;
            .MuiFormControl-root{
                width: 100% !important;
            }
        }
        .start{
            width: 100% !important;
            text-align: center;
            padding: 5px 0px 10px 0px;  
            .MuiFormControl-root{
                width: 100% !important;
            }
        }
    }

    .sub-dur{
        display: inherit !important;
        .name{
            padding: 10px;
            width: 94% !important;
        }
    }
}