.quiz-header{
    padding: 10px 0px 10px 0px;
    display: flex;
    position: relative;

    .quiz-remaining-time{
        float: left;       
        width: 75%;
        padding: 10px 5px 5px 5px;

        #rem-time{
            color: #8278bf;
            font-size: 15px;
        }

        #rem-min{
            font-weight: bold;;
        }

        #clock-rem{
            padding-left: 5px;

            .MuiSvgIcon-root{
                opacity: .35;
                width: 15px !important  ;
            }
        }
    }

    .quiz-submit-abandon{
        float: right;
        text-align: end;
        width: 25%;

        .quiz-btn{
            position: relative;
            button{
                color: #fff;
                font-weight: 700;
                padding : 10px;
                width: 17vh;
            }

        }
        .quiz-submit{ 
            button{ background-color: #2b9500; } 
            padding-right: 10px;
        }
        .quiz-abandon{ button{ background-color: #aa085d; } }
    }
}

//mobile
@media only screen and (max-width: 600px) {
    button{
        width: auto !important;
    }
    .quiz-remaining-time{
        font-size: 12.75px !important;
    }
}
//